BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true
BinPackArguments: false
BinPackParameters: false